<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>About Me</h1>
    <h3>Gabby Herlocher</h3>
    <ul>
        <li>Student ID: M16227250</li>
        <li>Bio: I am a second-year at UC dual-majoring in software development and game development. I work as a software developer team lead at an AI solutions company.</li>
        <li>Contact: <a href="https://www.linkedin.com/in/herlocherg/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
    </ul>
</body>
</html>